.memesContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.memesText {
	font-size: 18px;
	color: black;
	font-weight: bold;
	margin-top: 20px;
}

.memesImg {
	align-self: center;
	background-color: black;
	width: 300px;
	height: 300px;
}